body {
  --main: #f8f7f5;
  --secondary: #b08047;
  --text: #373d3b;
}

button {
  font-family: 'Domine', serif;
}

#X {
  margin-bottom: 8px;
  aspect-ratio: 1;
  animation-name: open-menu-pulse;
  animation-duration: 1s;
  animation-iteration-count: 1;
  padding: 10px;
  border-radius: 15px;
}

.open-menu {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 150px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--main);
  /* padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 8px;
  padding-right: 5px; */
  border-radius: 15px;
  cursor: pointer;

  animation-name: open-menu-pulse;
  animation-duration: 1s;
  animation-iteration-count: 1;
  font-family: 'Domine', serif;
}

@keyframes open-menu-pulse {
  from {
    background-color: var(--main);
  }

  50% {
    background-color: var(--secondary);
  }

  to {
    background-color: var(--main);
  }
}

.open-menu > a {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  text-decoration: none;
  color: inherit;
  opacity: 60%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.open-menu > a:hover {
  text-decoration: none;
  background-color: var(--secondary);
  width: 100%;
  opacity: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  animation-name: growth;
  animation-duration: 0.5s;
  padding: 10px;
}

@keyframes growth {
  from {
    background-color: var(--main);
    width: 25%;
    opacity: 60%;
  }
  to {
    background-color: var(--secondary);
    width: 100%;
    opacity: 100%;
  }
}
