.timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  gap: 25px;
  font-family: 'Ropa Sans', sans-serif;
}

p {
  font-family: 'Ropa Sans', sans-serif;
}
