html {
  scroll-behavior: smooth;
}

button {
  all: unset;
  cursor: pointer;
}
.menu {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 20px;
  padding: 15px;
  background-color: azure;
}

.pic-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 25px;
  width: 85%;
  height: 140px;
  left: 25px;
  background-color: azure;
  background-blend-mode: color;
  padding: 5px;
  opacity: 50%;
}

.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  min-height: 1000px;
}

.cover {
  height: 100%;
}

.main-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 65%;
}

.Content-holder {
  width: 35%;
  padding: 2%;
  background-color: azure;
}
